<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">Projects</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="">simon[at]simonkatan.co.uk</a></li>
   <li><a href="https://github.com/kimon-satan">github.com/kimon-satan</a></li>
   <li><a href="https://twitter.com/kimonsatan">@kimonsatan</a></li>
   </ul>
  </footer>
  </body>

</html>
