<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css">
  <meta charset="UTF-8">
</head>


<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="https://kimonsatan.tumblr.com/" target="_blank">Blog</a></li>
    </ul>
  </nav>


  {{ content }}


  <footer>
    <ul>
      <li><a href="">simon[at]simonkatan.co.uk</a></li>
      <li><a href="https://github.com/kimon-satan" target="_blank">github.com/kimon-satan</a></li>
      <li><a href="https://twitter.com/kimonsatan" target="_blank">@kimonsatan</a></li>
    </ul>
  </footer>
</body>

</html>
